$light-green: #4EAF48;
$dark-green: #397F34;
$charcoal: #2B2B2B;
$dark-gray: #525252;
$medium-gray: #737373;
$light-gray: #D5D5D5;
$orange: #EE6C43;
$red: #DF3114;
$blue: #0D7CB7;

@import "node_modules/bootstrap/scss/bootstrap";
